body {
  font-family: "Shadows Into Light", cursive;
  color: #ff3366;
  background: #ffff;
  border: 1px solid #ff3366;
  border-radius: 30px;
  border-width: initial;

  max-width: 1000px;

  margin: 30px auto;
}

ul {
  list-style: none;
}

.days {
  position: relative;
  top: -160px;
}

.cel {
  color: #ff3366;
  font-size: 25px;
}

.temp-number {
  font-size: 40px;
  color: #ff3366;
}

.city-name,
.time-now,
.descr {
  font-size: 35px;
}
.descr {
  text-transform: capitalize;
}

.center-elements {
  position: relative;
  margin-left: 350px;
  margin-top: -250px;
  width: 150px;
}

.hum {
  font-size: 25px;
}
.win {
  font-size: 25px;
}

.form-design {
  position: relative;
  margin-left: 40px;
  margin-top: 40px;
}

.row {
  font-size: 25px;
}
