body {
  font-family: "Shadows Into Light", cursive;
  color: #ff3366;
  background: #fff7f9;
}

ul {
  list-style: none;
}

.days {
  position: relative;
  top: -160px;
}

.cel {
  color: #ff3366;
  font-size: 25px;
}

.fahren {
  color: #ff3366;
  font-size: 27px;
}

.giturl {
  display: block;
  margin: 50px 150px;
}

.city-name,
.time-now,
.descr {
  font-size: 35px;
}
.descr {
  text-transform: capitalize;
}

.temp-number{
  font-size: 25px;
}

.weather{
  position: relative;
  margin top: 150px;
  margin left: 500px;
}

.hum{
font-size: 25px;
}
.win{
  font-size: 25px;
}

.form-design{
  position: relative;
  margin-left: -120px;
 margin-top: 40px;
}